.main{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.container{
    position: relative;
    display: flex;
    width: 100%;
    height: 600px;
    border-radius: 15px;
    background-image: url(./images/bakers.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.overlay{
    position: absolute;
               top: 0;
               left: 0;
    display: flex;
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.911);
    opacity: 0.7;
    z-index: 1;
}
.body{
    position: relative;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    z-index: 2;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto;

}
.body p{
    font-size: 20px;
    font-weight: 600;
    color: whitesmoke;
    line-height: 1.6;
}