body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    margin: 0;
    background-color:burlywood ;
}
h1{
    margin-bottom: 20px;
    color: #333;
}
#status{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
#board{
    display: grid;
    grid-template-columns: repeat(3, 100px); 
    grid-template-rows: repeat(3, 100px); 
    gap: 5px; 
}
.cell{
    width: 100px;
    height: 100px;
    background-color: sandybrown;
    color: whitesmoke;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.cell:hover{
    background-color: #eaeaea;
}
#restart {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #restart:hover {
    background-color: #555;
  }
  #copyCodeBtn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 14px;
  background-color: brown;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
#copyCodeBtn:hover {
  background-color: #a0522d;
}
